<!DOCTYPE html>
<html
  lang="es"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <%- include('../layout/cabeceraNewWindow') %>
  </head>
  <body>
    <!-- <h1><%= title %></h1>
  <p>¡Bienvenido a tu aplicación Express con EJS!</p> -->
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <% if (rol === 'Administrador') { %>
          <%- include('../admin/menuAdmin.ejs') %>
        <% } else if (rol === 'Evaluador') { %>
          <%- include('../evaluer/menuEvaluer.ejs') %>
        <% } %>

        <!-- Layout container -->
        <div class="layout-page">
              <% if (rol === 'Administrador') { %>
                <%- include('../admin/navbarAdmin.ejs') %>
              <% } else if (rol === 'Evaluador') { %>
                <%- include('../evaluer/navbarEvaluer.ejs') %>
              <% } %>

          <div class="content-wrapper pt-lg-4" >
            <div class="container ">

      <form id="encuesta" method="post" >
      
        <div class="">
          <div class="accordion" id="accordionExample">
            <% categorias.forEach((categoria, index) => { %>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading<%= index %>">
                  <button class="accordion-button <%= index === 0 ? '' : 'collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="<%= index === 0 ? 'true' : 'false' %>" aria-controls="collapse<%= index %>">
                    <%= categoria.nombre %>
                  </button>
                </h2>
                <div id="collapse<%= index %>" class="accordion-collapse collapse <%= index === 0 ? 'show' : '' %>" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <% const preguntasPorCategoria = preguntas.filter(p => p.id_categoria.equals(categoria._id)); %>
                    <% if (preguntasPorCategoria.length > 0) { %>
                      <ul>
                        <% preguntasPorCategoria.forEach(pregunta => { %>
                          <li>
                            <input type="checkbox" name="preguntas[]" value="<%= pregunta._id %>" <%= idPreguntasRelacionadas.includes(pregunta._id.toString()) ? 'checked' : '' %> />
                            <%= pregunta.nombre %>
                          </li>
                        <% }) %>
                      </ul>
                    <% } else { %>
                      <p>No hay preguntas en esta categoría.</p>
                    <% } %>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>

          <div class="text-end my-lg-2">
            <button type="button" class="btn btn-danger" onclick="cancelar()">Cancelar</button>
            <button id="actualizarBtn" type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </form>
        <script>
          // Obtener la URL completa
          const url = window.location.pathname;
        
          // Dividir la URL por '/' y obtener el último segmento (el ID de la encuesta)
          const idEncuesta = url.split('/').pop();
        
          // Mostrar el ID en la consola o usarlo en el action del formulario
          console.log(idEncuesta);
        
          // Establecer el action del formulario dinámicamente
          document.getElementById('encuesta').action=`/forms/editarEncuestaPt2/${idEncuesta}`;
        </script>
      </div>
    </div>
                      
        

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
  <script>
    // Guardar la selección en una variable en lugar de sessionStorage
    document.addEventListener('DOMContentLoaded', function() {
      // Variable para almacenar la selección
      let preguntasSeleccionadas = []; 

      // Manejar el evento de cambio del checkbox button
      document.querySelectorAll('input[type="checkbox"][name^="preguntas"]').forEach(checkbox => {
        checkbox.addEventListener('change', function() {
          const categoria = this.name.replace('preguntas[', '').replace(']', ''); // Obtener el nombre de la categoría
          const preguntaId = this.value;

          // Actualizar la variable con la nueva selección
          preguntasSeleccionadas[categoria] = preguntaId; 

          // Puedes mostrar la selección actual en la consola para verificar
          console.log("Selección actual:", preguntasSeleccionadas); 
        });
      });
    });

    function cancelar() {
            if (confirm('¿Deseas cancelar el proceso de la encuensta?')) {
              window.location.href = '/admin/listaEncuesta';
            }
          }
  </script>
  
  <!-- Overlay -->




<%- include('../components/scriptsBodyNewWindow') %>

</body>
</html>