<!DOCTYPE html>
<html
  lang="es"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <%- include('../layout/cabeceraNewWindow') %>
  </head>
  <body>
    <!-- <h1><%= title %></h1>
  <p>¡Bienvenido a tu aplicación Express con EJS!</p> -->
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <%- include('../admin/menuAdmin') %>

        <!-- Layout container -->
        <div class="layout-page">
          <%- include('../admin/navbarAdmin') %>

          <div class="content-wrapper">
            <div class="container ">
              <form method="post" action="/forms/editarEncuesta/<%= encuesta._id %>">
                <div class="mb-3">
                  <label class="form-label" for="nombre">Nombre de la Encuesta</label>
                  <input type="text" class="form-control" id="nombre" value="<%= encuesta.nombre %>"  name="nombre"/>
                </div>
                <div class="mb-3">
                  <lab for="areaSelect" class="form-label">Area</lab  el>
                  <select class="form-select" id="areaSelect" name="area">
                    <option >Selecionar una Area...</option>
                    <% areas.forEach(area => { %>
                      <option value="<%= area._id %>" ><%= area.nombre %></option>
                  <% }) %>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="user">Creado por..</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="text"
                      id="user"
                      name="user"
                      class="form-control"
                      placeholder="<%= username %>"
                      readonly
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="canperson">Cantidad de personas que podran responder</label>
                  <input
                    type="number"
                    id="canperson"
                    name="canperson"
                    class="form-control phone-mask"
                    value="<%= encuesta.cantidad %>"

                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="fechat">Fecha de termino</label>
                  <input class="form-control" type="date" name="fechat" id="fechat" value="<%= fechalimite %>">
                </div>
                
                <div class="">
                <!-- <a href="/admin/formEditarEncuestaPt2/<%= encuesta._id %>" type="button" class="btn btn-primary">Siguiente</a> --> 
                <button type="button" class="btn btn-outline-secondary">
                  Cancelar
                </button>
                <button type="submit" class="btn btn-outline-primary" >Siguiente</button>
              </div>
            </form>

          </div>
        </div>

        <script>
          document.getElementById('areaSelect').value = '<%= encuesta.id_area %>';

        </script>
                          
            

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
    
  

    
    <%- include('../components/scriptsBodyNewWindow') %>

  </body>
</html>