<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <span class="app-brand-text demo menu-text fw-bolder ms-2"><a href="/evaluador/home">Incognito UTN</a></span>
  </div>
  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item <%= activeSection === 'dashboard' ? 'active' : '' %>">
      <a href="/evaluador/home" class="menu-link">
        <i class="menu-icon tf-icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAHxJREFUSEvtlcEOgCAMQx8/ZvTgX5uoX6aJ8SBGRrOAeoArW7utrAQqn1AZH5VgBbpLMQswKMWpBNsDmJQrBQGNICvXpyMyX1gJkc3uXiWYgT6xTFaVcgdekEZwqOIdX+SmXpCmQTkN7os2AeO5eN47+cvM2m0qQPWi/xLsL40wGaOGZyIAAAAASUVORK5CYII=" />
        </i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <li class="menu-item <%= activeSection === 'encuestas' ? 'active' : '' %>">
      <a href="/admin/listaEncuesta" class="menu-link">
        <i class='menu-icon bx bx-receipt'></i>
        <div data-i18n="Without navbar">Encuestas</div>
      </a>
    </li>
    <li class="menu-item <%= activeSection === 'preguntas' ? 'active' : '' %>">
      <a href="/admin/listaPreguntas" class="menu-link">
        <i class='menu-icon bx bx-question-mark'></i>
        <div data-i18n="Container">Preguntas</div>
      </a>
    </li>
    <li class="menu-item <%= activeSection === 'categorias' ? 'active' : '' %>">
      <a href="/admin/listaCategorias" class="menu-link">
        <i class='menu-icon bx bx-list-check'></i>
        <div data-i18n="Fluid">Categorias</div>
      </a>
    </li>
    <li class="menu-item <%= activeSection === 'areas' ? 'active' : '' %>">
      <a href="/admin/listaAreas" class="menu-link">
        <i class='menu-icon bx bx-pie-chart-alt-2'></i>
        <div data-i18n="Fluid">Areas</div>
      </a>
    </li>
    <!-- Layouts -->
    <!-- <li class="menu-item active">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-list-ul"></i>
        <div data-i18n="Layouts">Listas</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/admin/listaAreas" class="menu-link">
            <div data-i18n="Fluid">Areas</div>
          </a>
        </li>
      </ul>
    </li> -->

    <!-- Components -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Perfil</span></li>
    <!-- Cards -->
    <li class="menu-item <%= activeSection === 'perfil' ? 'active' : '' %>">
      <a href="/evaluador/perfil" class="menu-link">
        <i class='menu-icon bx bxs-user-circle'></i>
        <div data-i18n="Basic">Cuenta</div>
      </a>
    </li>
    <!-- User interface -->
    <li class="menu-item">
      <a href="/auth/logout" class="menu-link">
        <i class="menu-icon tf-icons bx bx-log-out"></i>
        <div data-i18n="User interface">Cerrar Sesión</div>
      </a>
    </li>
  </ul>
</aside>
