<!-- admin/listaUsuarios.ejs -->
<!DOCTYPE html>
<html lang="es" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">

<head>
  <%- include('../layout/cabecera') %>
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
    <link rel="stylesheet" href="../assets/css/perfilStyles.css" />
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!--menu  -->
      <%- include('../mystery/menuMystery.ejs') %>
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <%- include('../mystery/navbarMystery') %>
            <!-- / Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
              <!-- Content -->
              <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4">
                  <span class="text-muted fw-light">Configuración de la cuenta /</span>
                  Cuenta
                </h4>

                <div class="row">
                  <div class="col-md-12">
                    <div class="card mb-4">
                      <h5 class="card-header">Detalles Perfil</h5>
                      <!-- Account -->
                      <div class="card-body" style="position: relative">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                          <img src="<%= imagen ? imagen : '../assets/img/avatars/3_mini.jpeg' %>" alt="user-avatar"
                            class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                          <!-- <img src="../assets/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100"
                            width="100" id="uploadedAvatar" /> -->
                          <!-- <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                              <span class="d-none d-sm-block">Cambiar foto</span>
                              <i class="bx bx-upload d-block d-sm-none"></i>
                              <input type="file" id="upload" class="account-file-input" hidden
                                accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                              <i class="bx bx-reset d-block d-sm-none"></i>
                              <span class="d-none d-sm-block">Cancelar</span>
                            </button>
                          </div> -->
                          <form id="formProfilePicture" method="POST" action="/auth/updateProfilePicture"
                            enctype="multipart/form-data">
                            <div class="button-wrapper">
                              <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Cambiar foto</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                              </label>
                              <input type="file" id="upload" name="profilePicture"
                                class="account-file-input form-control" accept="image/png, image/jpeg" />
                              <div class="mt-2">
                                <button type="submit" class="btn btn-outline-primary">Guardar Foto</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <hr class="my-0" />
                      <div class="card-body" style="position: relative">
                        <% if (message) { %>
                          <div class="alert alert-success alert-dismissible" role="alert">
                            <%= message %>
                              <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                          </div>
                          <% } %>
                            <% if (messageEmail) { %>
                              <div class="alert alert-warning alert-dismissible" role="alert">
                                <%= messageEmail %>
                                  <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                              </div>
                              <% } %>
                                <form id="formAccountSettings" method="POST" action="/auth/updateUserData">
                                  <div class="row">
                                    <div class="mb-3 col-md-6">
                                      <label for="firstName" class="form-label">Nombre</label>
                                      <input class="form-control" type="text" id="firstName" name="firstName"
                                        value="<%= username %>" autofocus />
                                    </div>
                                    <div class="mb-3 col-md-6">
                                      <label for="lastName" class="form-label">Apellidos</label>
                                      <input class="form-control" type="text" name="lastName" id="lastName"
                                        value="<%= apellido %>" />
                                    </div>
                                    <div class="mb-3 col-md-6">
                                      <label for="email" class="form-label">Email</label>
                                      <input class="form-control" type="text" id="email" name="email"
                                        value="<%= email     %>" placeholder="tu.correo@ejemplo.com" />
                                    </div>
                                    <div class="mb-3 col-md-6">
                                      <label for="organization" class="form-label">Rol</label>
                                      <input type="text" class="form-control" id="organization" name="organization"
                                        value="<%= rol %>" readonly />
                                    </div>
                                    <div class="mb-3 col-md-6">
                                      <label for="fecha_nac" class="form-label">Fecha de Nacimiento</label>
                                      <input type="date" class="form-control" id="fecha_nac" name="fecha_nac"
                                        value="<%= fecha_nac %>" />
                                    </div>
                                  </div>
                                  <div class="mt-2">
                                    <button type="submit" class="btn btn-primary me-2">
                                      Realizar Cambios
                                    </button>
                                    <button type="reset" class="btn btn-outline-secondary">
                                      Cancelar
                                    </button>
                                  </div>
                                  <div id="spinnerContainer" class="spinner-container" style="display: none">
                                    <div class="spinner-border text-primary" role="status">
                                      <span class="visually-hidden">Cargando...</span>
                                    </div>
                                  </div>
                                </form>
                      </div>
                      <!-- /Account -->
                    </div>
                    <!-- restablecer password -->
                    <div class="card">
                      <h5 class="card-header">Cambiar Contraseña</h5>
                      <div class="card-body" style="position: relative">
                        <div class="mb-3 col-12 mb-0">
                          <div class="alert alert-info alert-secondary">
                            <h6 class="alert-info fw-bold mb-1">
                              ¿Estas seguro de cabiar tu contraseña?
                            </h6>
                          </div>
                        </div>
                        <% if (MessageNewPassword) { %>
                          <div class="alert alert-success alert-dismissible" role="alert">
                            <%= MessageNewPassword %>
                              <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                          </div>
                          <% } %>
                            <% if (MessageNewPasswordError) { %>
                              <div class="alert alert-warning alert-dismissible" role="alert">
                                <%= MessageNewPasswordError %>
                                  <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                              </div>
                              <% } %>
                                <form id="formUpdatePassword" method="POST" action="/auth/updateUserPassword">
                                  <div class="form-check mb-3">
                                    <div class="mb-3 form-password-toggle">
                                      <label class="form-label">Contraseña actual</label>
                                      <div class="input-group input-group-merge">
                                        <input type="password" name="currentPassword" class="form-control"
                                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                          aria-describedby="password" />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                      </div>
                                    </div>
                                    <div class="mb-3 form-password-toggle">
                                      <label class="form-label">Contraseña nueva</label>
                                      <div class="input-group input-group-merge">
                                        <input type="password" name="newPassword" class="form-control"
                                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                          aria-describedby="password" />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                      </div>
                                    </div>
                                    <div class="mb-3 form-password-toggle">
                                      <label class="form-label">Confirmar Contraseña</label>
                                      <div class="input-group input-group-merge">
                                        <input type="password" name="confirmPassword" class="form-control"
                                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                          aria-describedby="password" />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                      </div>
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-outline-primary">
                                    Cambiar contraseña
                                  </button>
                                  <div id="spinnerPasswordContainer" class="spinner-container" style="display: none">
                                    <div class="spinner-border text-primary" role="status">
                                      <span class="visually-hidden">Cargando...</span>
                                    </div>
                                  </div>
                                  <div id="passwordAlert" class="alert alert-info alert-dismissible" role="alert"
                                    style="display: none;">
                                    Las contraseñas no coinciden
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                      aria-label="Close"></button>
                                  </div>
                                  <div id="validationAlert" class="alert alert-warning alert-dismissible" role="alert"
                                    style="display: none;">
                                    La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula y un
                                    número
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                      aria-label="Close"></button>
                                  </div>
                                </form>
                      </div>
                    </div>
                    <br />
                    <!-- fin v: -->
                    <div class="card">
                      <h5 class="card-header">Eliminar Cuenta</h5>
                      <div class="card-body" style="position: relative">
                        <div class="mb-3 col-12 mb-0">
                          <div class="alert alert-warning">
                            <h6 class="alert-heading fw-bold mb-1">
                              ¿Estas seguro de eliminar la Cuenta?
                            </h6>
                            <p class="mb-0">
                              Una vez que esta cuenta se elimine, no se podra
                              recuperar ningún dato de este perfil.
                            </p>
                          </div>
                        </div>
                        <form id="" onsubmit="return false">
                          <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="accountActivation"
                              id="accountActivation" />
                            <label class="form-check-label" for="accountActivation">Confirma tu aceptacion de eliminar
                              tu cuenta</label>
                          </div>
                          <button type="submit" class="btn btn-danger deactivate-account">
                            Eliminar Cuenta
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / Content -->

              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>

  <script>
    document
      .getElementById("formAccountSettings")
      .addEventListener("submit", function () {
        document.getElementById("spinnerContainer").style.display = "flex";
      });

    /*document
      .getElementById("formUpdatePassword")
      .addEventListener("submit", function () {
        document.getElementById("spinnerPasswordContainer").style.display = "flex";
      });*/

    function validarContrasena(contrasena) {
      if (contrasena.length < 8) {
        return false;
      }
      if (contrasena.search(/[a-z]/) < 0) {
        return false;
      }
      if (contrasena.search(/[A-Z]/) < 0) {
        return false;
      }
      if (contrasena.search(/[0-9]/) < 0) {
        return false;
      }
      return true;
    }

    document.getElementById("formUpdatePassword").addEventListener("submit", function (event) {
      event.preventDefault();
      const currentPassword = document.getElementsByName("currentPassword")[0].value;
      const newPassword = document.getElementsByName("newPassword")[0].value;
      const confirmPassword = document.getElementsByName("confirmPassword")[0].value;

      if (newPassword !== confirmPassword) {
        //alert("Las contraseñas no coinciden");
        document.getElementById('passwordAlert').style.display = 'block';
        //return;
        event.preventDefault();
      } else if (!validarContrasena(newPassword)) {
        //alert("La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula y un número");
        document.getElementById('validationAlert').style.display = 'block';
        //return;
        event.preventDefault();
      } else {
        document.getElementById('passwordAlert').style.display = 'none';
        document.getElementById('validationAlert').style.display = 'none';
        document.getElementById('spinnerPasswordContainer').style.display = 'flex';
        this.submit();
      }

    });


  </script>
  <%- include('../components/scriptsBody') %>
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/pages-account-settings-account.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>