<!-- admin/listaUsuarios.ejs -->
<!DOCTYPE html>
<html lang="es" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">

<head>
  <%- include('../layout/cabecera') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.5/jscolor.min.js"></script>
</head>

<body>
  <!-- <h1><%= title %></h1>
  <p>¡Bienvenido a tu aplicación Express con EJS!</p> -->
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <%- include('../admin/menuAdmin') %>

        <!-- Layout container -->
        <div class="layout-page">
          <%- include('../admin/navbarAdmin') %>

            <!-- Content wrapper -->
            <div class="content-wrapper">
              <!-- Content -->

              <div class="container-xxl flex-grow-1 container-p-y">
                <div class="card">
                  <div style="display: flex; align-items: center;">
                    <div>
                      <h5 class="card-header">Lista Categoria</h5>
                    </div>
                    <div class="col-lg-4 col-md-6" style="margin-left: auto;">
                      <div class="mt-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                          data-bs-target="#modalCenter">
                          <i class="bx bx-plus"></i>
                        </button>
                        <!-- Modal -->
                        <%- include('../forms/formCategoria.ejs') %>
                          <!-- modal -->
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive text-nowrap">
                    <table class="table">
                      <thead class="table-dark">
                        <tr>
                          <th>Nombre</th>
                          <th>Color</th>
                          <th>Creado por...</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody class="table-border-bottom-0">
                        <% categorias.forEach( categoria=> { %>
                          <tr>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>
                                <%= categoria.nombre %>
                              </strong></td>
                            <td>
                              <div style="background-color:<%= categoria.color_hover %>; width: 20px; height: 20px;"></div>
                            </td>
                            <td>
                              <%= categoria.id_creo.nombre %>
                            </td>

                            <td>
                              <div class="dropdown">
                                <button class="m-1 btn" type="button"
                                  onclick="abrirModalEditar('<%= categoria._id %>')"><i class="bx bx-edit-alt me-1"></i>
                                  Editar</button>
                                <%- include('../forms/formEditarCategoria.ejs') %>
                                  <a class="m-1" href="#"
                                    onclick="confirmDeletion('<%= categoria._id %>'); return false;"
                                    style="color: inherit;"><i class="bx bx-trash me-1"></i> Eliminar</a>
                              </div>
                            </td>
                          </tr>
                          <% }) %>



                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
              <!-- / Content -->
              <%- include('../components/footer') %>
                <script>
                  function confirmDeletion(id) {
                    if (confirm('¿Estás seguro de que deseas eliminar esta categoria?')) {
                      window.location.href = '/forms/eliminarCategoria/' + id;
                    }
                  }
                </script>
                <script>
                  function abrirModalEditar(idCategoria) {
                    fetch(`/admin/listaCategorias/${idCategoria}`)  // Hacer la solicitud para obtener la pregunta por su ID
                      .then(response => response.json())
                      .then(data => {
                        // Rellenar los campos del formulario con los datos recibidos
                        document.querySelector('#modalEditarC  #id').value = data.id;
                        document.querySelector('#modalEditarC #categoria').value = data.categoria;
                        document.querySelector('#modalEditarC #color').value = data.color;
                        //document.querySelector('#modalEditarC #user').value = data.creadoPor;

                        // Mostrar el modal
                        new bootstrap.Modal(document.getElementById('modalEditarC')).show();

                        modalEditarA._element.addEventListener('shown.bs.modal', function () {
                        const colorInput = document.querySelector('#modalEditarA #color'); // Obtener el elemento del input de color
                        const colorPicker = new jscolor.fromElement(colorInput); // Crear instancia de jscolor
                        colorPicker.fromString(data.color); // Establecer el color seleccionado en el picker
                      });
                      })
                      .catch(error => console.error('Error al obtener los datos de la categoria:', error));
                  }
                </script>
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->

  </div>


  <%- include('../components/scriptsBody') %>
</body>

</html>