<!-- src/views/index.ejs -->
<!DOCTYPE html>
<html lang="es" class="light-style layout-menu-fixed" dir="ltr"     data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<head>
    <%- include('../layout/cabecera') %>
        <link rel="stylesheet" href="../assets/css/encuestasStyles.css" />
</head>

<body>
    <!-- <h1><%= title %></h1>
  <p>¡Bienvenido a tu aplicación Express con EJS!</p> -->
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <%- include('./menuMystery') %>

                <!-- Layout container -->
                <div class="layout-page">
                    <%- include('./navbarMystery') %>

                        <!-- Content wrapper -->
                        <div class="content-wrapper">
                            <!-- Content -->
                            <div class="container-xxl flex-grow-1 container-p-y">
                                <div class="row mb-5">
                                    <div class="ag-format-container">
                                        <div class="ag-courses_box">
                                            <% encuestas.forEach(encuesta=> { %>
                                                <div class="ag-courses_item">
                                                    <a href="/mystery/home" class="ag-courses-item_link">
                                                        <!-- Añadir un data-attribute con el color -->
                                                        <div class="ag-courses-item_bg"
                                                            data-color-hover="<%= encuesta.id_area ? encuesta.id_area.color_hover : 'white' %>">                                                            
                                                        </div>                                                        
                                                        <div class="ag-courses-item_title">
                                                            <img src="../assets/img/resources/edit_pencil.png" alt="">
                                                            <%= encuesta.nombre %>
                                                        </div>
                                                        <span class="badge rounded-pill bg-label-blank"><%= encuesta.id_area ? encuesta.id_area.nombre : '' %></span>

                                                        <div class="ag-courses-item_date-box">
                                                            <!-- Start:
                                                            <span class="ag-courses-item_date">
                                                              <%= encuesta.fecha_creada %>
                                                            </span>
                                                            <br> -->
                                                            <span>
                                                                Días restantes: <span class="ag-courses-item_date"><%= encuesta.dias_restantes %></span> 
                                                            </span>                                                            
                                                          </div>
                                                    </a>
                                                </div>
                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / Content -->

                            <%- include('../components/footer') %>

                                <div class="content-backdrop fade"></div>
                        </div>
                        <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <%- include('../components/scriptsBody') %>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const items = document.querySelectorAll('.ag-courses-item_bg');

                items.forEach(item => {
                    const colorHover = item.getAttribute('data-color-hover');
                    if (colorHover) {
                        item.style.backgroundColor = colorHover;
                    }
                });
            });
        </script>

</body>

</html>