<!DOCTYPE html>
<html lang="es" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
  data-assets-path="../assets/" data-template="vertical-menu-template-free">

<head>
  <%- include('../layout/cabeceraEncuesta') %>
    <link rel="stylesheet" href="../../assets/css/respuestaEncuestaStyles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <%- include('./menuMystery') %>
      <div class="layout-page">
        <%- include('./navbarMystery') %>
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <small class="text-light fw-semibold">Seleccione su respuesta dentro de las preguntas ubiacadas en cada sección, 
              tome en cuenta que la valoración es de 1 a 5 estrellas.
            </small>
            <% if (preguntas && preguntas.length> 0) { %>
              <div class="accordion mt-3" id="accordionExample">

                <% 
                  // Agrupar preguntas por categoría
                  const preguntasPorCategoria = {};
                  preguntas.forEach(pregunta => {
                    const categoriaNombre = pregunta.id_pregunta.id_categoria.nombre;
                    if (!preguntasPorCategoria[categoriaNombre]) {
                      preguntasPorCategoria[categoriaNombre] = [];
                    }
                    preguntasPorCategoria[categoriaNombre].push(pregunta);
                  });

                  // Iterar sobre las categorías y crear un acordeón para cada una
                  let contadorCategorias = 0; // Contador para IDs únicos de acordeones
                  for (const categoriaNombre in preguntasPorCategoria) { 
                    contadorCategorias++;
                %>
                <div class="card accordion-item">
                  <h2 class="accordion-header" id="heading<%= contadorCategorias %>">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
        data-bs-target="#collapse<%= contadorCategorias %>" aria-expanded="false"
        aria-controls="collapse<%= contadorCategorias %>" 
        data-color-hover="<%= preguntasPorCategoria[categoriaNombre][0].id_pregunta.id_categoria.color_hover %>">
  <%= categoriaNombre %>                      
</button>
                  </h2>
                  <div id="collapse<%= contadorCategorias %>" class="accordion-collapse collapse"
                    aria-labelledby="heading<%= contadorCategorias %>" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul>
                        <% preguntasPorCategoria[categoriaNombre].forEach(pregunta => { %>
                          <li>
                            <span class="badge rounded-pill bg-label-respuesta-enc" style="color: <%= pregunta.id_pregunta.id_categoria.color_hover %>;">#<%= pregunta.id_pregunta.id_categoria.nombre %> | </span>
                            <%= pregunta.id_pregunta.nombre %> <br>
                            <div class="valoracion">
                              <button>
                                <i class="fas fa-star"></i>
                              </button>
                              <button>
                                <i class="fas fa-star"></i>
                              </button>
                              <button>
                                <i class="fas fa-star"></i>
                              </button>
                              <button>
                                <i class="fas fa-star"></i>
                              </button>
                              <button>
                                <i class="fas fa-star"></i>
                              </button>
                            </div>
                            <br>
                          </li>
                          <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
                <% } %> 

              </div>
              <% } else { %>
                <p>No hay preguntas disponibles para esta encuesta.</p>
                <% } %>

          </div>
          <%- include('../components/footer') %>
            <div class="content-backdrop fade"></div>
        </div>
      </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const botonesAcordeon = document.querySelectorAll('.accordion-button');
    
      botonesAcordeon.forEach(boton => {
        const colorHover = boton.dataset.colorHover;
        if (colorHover) {
          boton.style.color = colorHover; // Aplicar el color_hover al botón
        }
      });
    });
  </script>
  <%- include('../components/scriptsBodyEncuesta') %>
</body>

</html>