<!-- src/views/index.ejs -->
<style>
  :root {
    --color-inactivo: #5f5050;
    --color-hover: #ffa400;
}
.valoracion {
    display: flex;
    flex-direction: row-reverse;
}
.valoracion button {
    background-color: initial;
    border: 0;
    color: var(--color-inactivo);
    transition: 1s all;
}
.valoracion button:hover {
    cursor: pointer;
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(1):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(2):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(3):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(4):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(5):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}

</style>
<!DOCTYPE html>
<html lang="es" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">

<head>
  <%- include('../layout/cabeceraEncuesta') %>
</head>

<body>
  <!-- <h1><%= title %></h1>
  <p>¡Bienvenido a tu aplicación Express con EJS!</p> -->
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <%- include('./menuMystery') %>

        <!-- Layout container -->
        <div class="layout-page">
          <%- include('./navbarMystery') %>

            <!-- Content wrapper -->
            <div class="content-wrapper">
              <!-- Content -->

              <div class="container-xxl flex-grow-1 container-p-y">

                <% if (preguntas && preguntas.length> 0) { %>
                  <ul>
                    <% preguntas.forEach(pregunta=> { %>
                      <li>
                        <strong>Pregunta:</strong>
                        <%= pregunta.id_pregunta.nombre %> <br>
                          <strong>Categoría:</strong>
                          <%= pregunta.id_pregunta.id_categoria.nombre %>
                            <% /* Mostrar las opciones de la pregunta aquí */ %>
                      </li>
                      <% }); %>
                  </ul>
                  <% } else { %>
                    <p>No hay preguntas disponibles para esta encuesta.</p>
                    <% } %>

                    <div class="valoracion">

                      <!-- Estrella 1 -->
                      <button>
                          <i class="fas fa-star"></i>
                      </button>
                  
                      <!-- Estrella 2 -->
                      <button>
                          <i class="fas fa-star"></i>
                      </button>
                  
                      <!-- Estrella 3 -->
                      <button>
                          <i class="fas fa-star"></i>
                      </button>
                  
                      <!-- Estrella 4 -->
                      <button>
                          <i class="fas fa-star"></i>
                      </button>
                  
                      <!-- Estrella 5 -->
                      <button>
                          <i class="fas fa-star"></i>
                      </button>
                  
                  </div>


              </div>
              <!-- / Content -->

              <%- include('../components/footer') %>

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <%- include('../components/scriptsBodyEncuesta') %>
</body>

</html>